/*This colors font for help in contact form on statutes*/
a {
  color: black;
}

/*Defines color on the search button on statutes page*/
.btn {
  color: black;
}

/*This defines text color on navbar on statutes page*/
.navbar-light .navbar-nav .nav-link {
  color: black;
}

input#newsSub {
  background-color: white;
  color: black;
}
